html {
    scroll-behavior: smooth;
    scrollbar-gutter: stable;
}

body {
    margin: 0;
    padding: 0;

    &:has(dialog[open]) {
        overflow: hidden;
    }
}

/* contentlimitation */
.contentlimitation {
    max-width: 1920px;
    margin: 0 auto;
}

header {
    position: sticky !important;
    top: 0;
    z-index: 1;
}

main {
    background-image: url("./assets/img/pokemon_background.svg");
    min-height: calc(100vh - 120px);
    /* background-size: cover; */
    background-position: center;
    background-attachment: scroll;
    color: white;
}

.content {
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    width: 200px !important;
    height: 250px !important;
    color: white !important;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.card img {
    max-height: 100px;
    max-width: 190px;
}

.containertype {
    height: 30px;
    width: 100px;
    background-size: cover;
    background-repeat: no-repeat;
}

.logo {
    height: 40px;
    animation: floatLogo 3s ease-in-out infinite;
}

.logo_mobile {
    height: 40px;
    animation: floatLogo 3s ease-in-out infinite;
    display: none;
    padding-left: 20px;
}

@keyframes floatLogo {
    0% {
        transform: translateY(0) rotate(0deg);
    }

    50% {
        transform: translateY(-4px) rotate(-1deg);
    }

    100% {
        transform: translateY(0) rotate(0deg);
    }
}

.pokemonImg {
    padding-top: 20px;
    height: 120px;
    width: 220px;
}

.container-fluid div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.container-fluid div span {
    color: red;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 40px;
}

.displayNone {
    display: none;
}

.overFlowHidden {
    overflow: hidden;
}

footer {
    height: 60px;
    background-color: rgb(100, 100, 100);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(max-width: 1940px) {
    .logo {
        padding-left: 50px;
    }

    .externaldistance {
        padding-left: 120px;
        padding-right: 120px;
    }
}

@media(max-width: 930px) {
    .externaldistance {
        padding-left: 90px;
        padding-right: 90px;
    }

}

@media(max-width: 730px) {
    .externaldistance {
        padding-left: 50px;
        padding-right: 50px;
    }

}

@media(max-width: 535px) {
    .externaldistance {
        padding-left: 20px;
        padding-right: 20px;
    }

    .logo {
        display: none;
    }

    .logo_mobile {
        display: unset;
    }

    .form-control {
        width: 150px !important;
    }
}