
body{
    margin: 0;
    padding: 0;
}

main{
    background-image: url("./assets/img/pokemon_background.svg");
    min-height: 100vh;
    background-size: cover;
    background-attachment: fixed; 
    color: white;
}

.content{
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.card{
    width: 200px !important;
    height: 250px !important;
}

.card img{
    max-height: 100px;
    max-width: 190px;
}

.containertype{
    height: 30px;
    width: 100px;
    background-size: cover;
    background-repeat: no-repeat;
}