/* dialog open/close*/
dialog.opend {

    transition: all 1s ease-in;

}

dialog.closed {

    transition: all 1s ease-in;
}

dialog::backdrop {
    opacity: 0;
    background-color: rgb(0, 0, 0);
    transition: all 0.5s ease-in;
}

dialog.opend::backdrop {
    opacity: 0.7;
    transition: all 0.5s ease-in;
    cursor: pointer;
}

dialog.closed::backdrop {
    opacity: 0;
    transition: all 0.5s ease-in;
}

/* dialog Content */
.dialogCardDetails{
    display: flex;
    flex-direction: column;
}