/* dialog open/close*/
dialog.opend {

    transition: all 1s ease-in;

}

dialog.closed {

    transition: all 1s ease-in;
}

dialog::backdrop {
    opacity: 0;
    background-color: rgb(0, 0, 0);
    transition: all 0.5s ease-in;
}

dialog.opend::backdrop {
    opacity: 0.7;
    transition: all 0.5s ease-in;
    cursor: pointer;
}

dialog.closed::backdrop {
    opacity: 0;
    transition: all 0.5s ease-in;
}

/* dialog Content */
dialog {
    padding: 0;
}

.dialogCardDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    width: 350px;
    background: linear-gradient(135deg, #baa75d 0%, #d56f6f 100%);

    .pokemonImg {
        padding-top: 20px;
        padding-bottom: 10px;
        height: 200px;
    }
}

table,
td {
    border-bottom: solid black 1px !important;
    max-width: 300px;
}

.statsContainer{
    width: 90%;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 20px;
}

.stats{
    height: 60px;

}

.stats:hover{
    cursor: pointer;
}

.progress {
    width: 200px;
}

.nextCard{
    font-size: 50px;
    color: rgb(145, 96, 96);
    font-weight: bold;
}

.nextCard:hover{
    color: rgb(109, 30, 30);
    cursor: pointer;
}

.switchCards{
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

@media (max-width:490px) {

    .dialogCardDetails {
        width: 300px;
    }
}

@media (max-width:380px) {

    .dialogCardDetails {
        width: 270px;
    }

    td {
        max-width: 250px;
    }

    .progress {
        width: 150px;
    }

}

