/* dialog open/close*/
dialog.opend {

    transition: all 1s ease-in;

}

dialog.closed {

    transition: all 1s ease-in;
}

dialog::backdrop {
    opacity: 0;
    background-color: rgb(0, 0, 0);
    transition: all 0.5s ease-in;
}

dialog.opend::backdrop {
    opacity: 0.7;
    transition: all 0.5s ease-in;
    cursor: pointer;
}

dialog.closed::backdrop {
    opacity: 0;
    transition: all 0.5s ease-in;
}

/* dialog Content */
dialog {
    padding: 0;
}

.dialogCardDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    height: 500px;
    width: 350px;
    background-color: rgb(172, 168, 168);

    .pokemonImg {
        padding-top: 20px;
        height: 200px;
    }
}

table,
td {
    border-bottom: solid black 1px !important;
    max-width: 300px;
}

.arrows {
    display: flex;
    justify-content: space-between;
    font-size: 50px;
    width: 90%;
    color: rgb(97, 96, 96);
}

.arrow:hover{
    color: black;
    cursor: pointer;
}
