.overlay {
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.6); /* Black background with opacity */
  background-image: url(../assets/img/Loading/pokeball-spinner.svg);
  background-position: center;
  background-repeat: no-repeat;
  z-index: 2;
}