.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.6);
  background-image: url(../assets/img/Loading/pokeball-spinner.svg);
  background-position: center;
  background-repeat: no-repeat;
  z-index: 2;
}