
/* Individual type background colors */
.type-normal  { background-color: rgba(168, 168, 120, 0.5) !important;}
.type-fighting{ background-color: rgba(192, 48, 40, 0.5) !important; }
.type-flying  { background-color: rgba(168, 144, 240, 0.5) !important; }
.type-poison  { background-color: rgba(160, 64, 160, 0.5) !important; }
.type-ground  { background-color: rgba(224, 192, 104, 0.5) !important; }
.type-rock    { background-color: rgba(184, 160, 56, 0.5) !important; }
.type-bug     { background-color: rgba(168, 184, 32, 0.5) !important; }
.type-ghost   { background-color: rgba(112, 88, 152, 0.5) !important; }
.type-steel   { background-color: rgba(184, 184, 208, 0.5) !important; }
.type-fire    { background-color: rgba(240, 128, 48, 0.5) !important; }
.type-water   { background-color: rgba(104, 144, 240, 0.5) !important; }
.type-grass   { background-color: rgba(120, 200, 80, 0.5) !important; }
.type-electric{ background-color: rgba(248, 208, 48, 0.5) !important; }
.type-psychic { background-color: rgba(248, 88, 136, 0.5) !important; }
.type-ice     { background-color: rgba(152, 216, 216, 0.5) !important; }
.type-dragon  { background-color: rgba(112, 56, 248, 0.5) !important; }
.type-dark    { background-color: rgba(112, 88, 72, 0.5) !important; }
.type-fairy   { background-color: rgba(112, 72, 89, 0.5) !important;}



/* .dialog-type-normal  { background-color: rgba(168, 168, 120) !important;}
.dialog-type-fighting{ background-color: rgba(192, 48, 40) !important; }
.dialog-type-flying  { background-color: rgba(168, 144, 240) !important; }
.dialog-type-poison  { background-color: rgba(160, 64, 160) !important; }
.dialog-type-ground  { background-color: rgba(224, 192, 104) !important; }
.dialog-type-rock    { background-color: rgba(184, 160, 56) !important; }
.dialog-type-bug     { background-color: rgba(168, 184, 32) !important; }
.dialog-type-ghost   { background-color: rgba(112, 88, 152) !important; }
.dialog-type-steel   { background-color: rgba(184, 184, 208) !important; }
.dialog-type-fire    { background-color: rgba(240, 128, 48) !important; }
.dialog-type-water   { background-color: rgba(104, 144, 240) !important; }
.dialog-type-grass   { background-color: rgba(120, 200, 80) !important; }
.dialog-type-electric{ background-color: rgba(248, 208, 48) !important; }
.dialog-type-psychic { background-color: rgba(248, 88, 136) !important; }
.dialog-type-ice     { background-color: rgba(152, 216, 216) !important; }
.dialog-type-dragon  { background-color: rgba(112, 56, 248) !important; }
.dialog-type-dark    { background-color: rgba(112, 88, 72) !important; }
.dialog-type-fairy   { background-color: rgba(112, 72, 89) !important;} */
